<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- CredManMissingDal: Digital Asset Links would share saved passwords with a
         website, which needs a file hosted on classapp.com.br. Saving and using
         passwords for this app alone works without it. -->
    <application
        android:name=".ClassAppTriageApp"
        tools:ignore="CredManMissingDal"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:localeConfig="@xml/locales_config"
        tools:targetApi="33"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClassAppTriage">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
